.donate-btn {
  position: fixed;
  left: 24px;
  top: 24px;
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: 18px;
  font-weight: lighter;
}
