$bg-color: rgba(0, 0, 0, .75);

.learn-more {
  position: fixed;
  left: $item-spacing-5;
  top: $item-spacing-5;
  text-decoration: none;
  border-radius: $default-border-radius;
  font-size: $font-size-m;
}

.learn-more__link {
  text-decoration: none;
}

.learn-more__info {
  position: absolute;
  pointer-events: none;
  margin-top: $item-spacing-4;
  font-size: $font-size-s;
  width: 300px;
  line-height: 24px;
  padding: $item-spacing-3 $item-spacing-4;
  background: $bg-color;
  border-radius: $default-border-radius;

  opacity: 0;
  transition: opacity $animation-fast;
  transition-delay: animation-delay-fast;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -$item-spacing-2;
    left: 45px;

    // Define triangle
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid $bg-color;
  }

  .learn-more:hover & {
    left: 0;
    display: block;
    opacity: 1;
  }
}
