$park-fact-size: 800;
$park-fact-width: $park-fact-size + px;
$park-fact-margin-left: -($park-fact-size/2) + px;

.park-fact {
  position: fixed;
  width: $park-fact-width;
  left: 50%;
  margin-left: $park-fact-margin-left;
  text-align: center;
  bottom: 24px;
  line-height: 24px;
  font-size: 16px;
}
