$park-fact-size: 900;
$park-fact-width: $park-fact-size + px;
$park-fact-margin-left: -($park-fact-size/2) + px;

.park-fact__container {
  position: fixed;
  width: $park-fact-width;
  left: 50%;
  margin-left: $park-fact-margin-left;
  bottom: 24px;
}

.park-fact__list {
  text-align: center;
  line-height: 28px;
  font-size: 18px;
  font-weight: lighter;

  opacity: 0;
  animation: fade-in 600ms forwards;
  animation-delay: 100ms;
}

.park-fact__fact {
  position: absolute;
  bottom: 0;
  list-style: none;
  width: $park-fact-width;

  opacity: 0;
  transition: opacity 350ms
}

.park-fact__active {
  opacity: 1;
  transition: opacity 350ms
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}
