.park-info {
  position: fixed;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -100px; /* Negative half of height. */

  font-weight: lighter;
  font-size: 164px;
  line-height: 112px;
  cursor: default;

  opacity: 0;
  animation: fade-in 600ms forwards;
  animation-delay: 250ms;
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}
