.park-info {
  position: fixed;
  left: 24px;
  top: 24px;

  opacity: 0;
  animation: fade-in 600ms forwards;
  animation-delay: 200ms;
}

.park-info__text {
  font-size: 14px;
  line-height: 24px;
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}
