$park-fact-size: 900;
$park-fact-width: $park-fact-size + px;
$park-fact-margin-left: -($park-fact-size/2) + px;

.park-fact {
  position: fixed;
  width: $park-fact-width;
  left: 50%;
  margin-left: $park-fact-margin-left;
  text-align: center;
  bottom: 24px;
  line-height: 28px;
  font-size: 18px;
  font-weight: lighter;

  opacity: 0;
  animation: fade-in 600ms forwards;
  animation-delay: 100ms;
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}
