.park-info {
  position: fixed;
  height: 200px;
  width: 1250px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -100px; /* Negative half of height. */

  text-align: center;
  font-size: 164px;
  line-height: 112px;
  cursor: default;

  opacity: 0;
  animation: fade-in 600ms forwards;
  animation-delay: 250ms;
}

.park-info__photo-credits {
  display: block;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;

  opacity: 0;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;

  .park-info:hover & {
    opacity: 1;
    transform: translateY(30px);
  }
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}
