$park-facts-size: 900;
$park-facts-width: $park-facts-size + px;
$park-facts-margin-left: -($park-facts-size/2) + px;

.park-facts__container {
  position: fixed;
  width: $park-facts-width;
  left: 50%;
  margin-left: $park-facts-margin-left;
  bottom: 24px;
}

.park-facts__list {
  text-align: center;

  opacity: 0;
  animation: fade-in 600ms forwards;
  animation-delay: 100ms;
}

.park-facts__fact {
  position: absolute;
  bottom: 0;
  list-style: none;
  width: $park-facts-width;

  opacity: 0;
  transition: opacity 350ms
}

.park-facts__active {
  opacity: 1;
  transition: opacity 350ms
}

.park-facts__btn-text {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 28px;
  font-size: 18px;
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}
