$bg-icons: url('../assets/people-in-parks_icons.png');
$youtube-icon-postion: -3 0;
$fb-icon-postion: -77 0;
$insta-icon-postion: -151 0;

$size: 30px;

.social-media {
  margin: 0;
  position: fixed;
  right: 24px;
  top: 24px;

  opacity: 0;
  animation: fade-in 600ms forwards;
  animation-delay: 200ms;
}

.social-media__icon {
  display: inline;
  padding: 0 8px;

  &:last-child {
    padding-right: 0;
  }
}

.social-media__icon-image {
  width: $size;
  height: $size;
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}
