$item-spacing-1: 4px;
$item-spacing-2: 8px;
$item-spacing-3: 12px;
$item-spacing-4: 18px;
$item-spacing-5: 24px;
$item-spacing-6: 32px;

$font-size-s: 14px;
$font-size-m: 18px;

$default-border-radius: 4px;
