/* Reset styles here */
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

div, a, h1, h2, h3, h4, p, span, ul {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

/* App.jsx styles */
.app__full-bg-img {
  pointer-events: none;
  min-height:100%;
  min-width:100%;
  height:auto;
  width:auto;
  position:absolute;
  top:-100%; bottom:-100%;
  left:-100%; right:-100%;
  margin:auto;

  opacity: 0;
  animation: fade-in 600ms forwards;
}

.app__info {
  position: relative;
  z-index: 1; // relative to 'app__full-bg-img'
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}
